<!DOCTYPE html>
<head>
#include("head.vm")
</head>
<body>
<table class="table">
    #foreach ($smoke in $smokes)
        <tr>
            <td>$smoke.formattedDate</td>
            <td>$smoke.termHours</td>
            <td>$smoke.count</td>
            <td>$smoke.hoursPerSmoke</td>
        </tr>
    #end
</table>
<form>
    <input type="text" class="form-control">
</form>
</body>
</html>
