<!DOCTYPE html>
<html lang="en">
<head>
#include("head.vm")
</head>
<body>
<table class="table">
    #foreach ($stat in $stats)
        <tr>
            <td><h5><em>$stat.type</em></h5></td>
            <td><h4>$stat.score</h4></td>
            <td><h4 class="#color($stat.level)"><strong>$stat.levelName</strong></h4></td>
        </tr>
    #end
</table>
<form class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <select name="count" class="form-control">
            #foreach ($count in [1..40])
                <option #if ($count==20) selected #end>$count</option>
            #end
        </select>
    </div>
    <div class="col-xs-4">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
<br>
<table class="table">
    <tr><th>Date</th><th>Hours</th><th>Count</th><th>Score</th></tr>
    #foreach ($smoke in $smokes)
        <tr>
            <td>$smoke.date</td>
            <td>$smoke.termHours</td>
            <td>$smoke.count</td>
            <td>$smoke.scoreStr</td>
        </tr>
    #end
</table>
</body>
</html>

#macro(color $level)
    #if ($level == 1) text-primary #end
    #if ($level == 2) text-warning #end
    #if ($level == 3) text-muted #end
    #if ($level == 4) text-danger #end
    #if ($level == 5) text-success #end
#end