<!DOCTYPE html>
<html lang="en">
<head>
#include("head.vm")
</head>
<body onload="onload()">

<form method="post">
    <label class="radio-inline">
        <input type="radio" name="dayAgo" value="0"> Today
    </label>
    <label class="radio-inline">
        <input type="radio" name="dayAgo" value="-1"> Yesterday
    </label>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
            #foreach ($practiceType in $practiceTypes)
                #if ($foreach.index == $practiceTypes.size()/2)
                </div><div class="col-xs-5">
                #end
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="practices" value="$practiceType.code"
                            #if ($formDefault.contains($practiceType.code)) checked #end>
                        <strong> $practiceType.name </strong>
                    </label>
                </div>
            #end
        </div>
    </div>
    <button type="submit" class="btn btn-default btn-sm btn-block">Done</button>
    <br>

    <div class="bg-primary">
        #foreach ($report in $reports)
            <div onclick="toggleReportDetail($foreach.index)" class="row">
                <div class="col-xs-4 col-xs-offset-1"><h4>$report.range</h4></div>
                <div class="col-xs-2 text-right"><h4>$report.score</h4></div>
                <div class="col-xs-3 text-right"><h4>$report.level</h4></div>
            </div>
            <div id="reportDetail$foreach.index" style="display:none">
                <table class="table table-condensed">
                    #foreach ($practiceType in [0..10])
                        <th><img src="images/#icon($practiceType)" width="18" height="18"></th>
                    #end
                    <tr>
                        #foreach ($score in $report.typeScore)
                            <td>$score</td>
                        #end
                    </tr>
                </table>
            </div>
        #end
    </div>
    <br>

    <table class="table table table-condensed">
        #foreach ($rec in $records)
            <tr>
                <td>$rec.date</td>
                #foreach ($practice in $rec.practices)
                    <td width="18">#if ($practice) <img src="images/#icon($foreach.index)" width="18" height="18"> #end</td>
                #end
                <td class="text-right">$rec.score</td>
            </tr>
        #end

    </table>
</form>
</body>
</html>

<script>
function onload() {
    $('input[type=radio][name=dayAgo]').change(function() {
        location.href = '/yoyo?dayAgo=' + this.value;
    });

    $('input:radio[name="dayAgo"]').filter('[value="$dayAgo"]').attr('checked', true);
}

function toggleReportDetail(index) {
    $("#reportDetail" + index).toggle("slow");
}
</script>

#macro(icon $type)
    #if ($type == 0) meal.png #end
    #if ($type == 1) fasting.png #end
    #if ($type == 2) snack.png #end
    #if ($type == 3) drink.png #end
    #if ($type == 4) water.png #end
    #if ($type == 5) running.png #end
    #if ($type == 6) foot.png #end
    #if ($type == 7) sleep.png #end
    #if ($type == 8) snack.png #end
    #if ($type == 9) foot.png #end
    #if ($type == 10) book.png #end
#end
